/* styles.css */

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

#topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #38004ec0;
    color: #ffffff;
    padding: 10px;
    width: 100%;
}

#topbar-buttons {
    display: flex;
    gap: 10px;
    margin-right: 20px;
}

#content-container {
    display: flex;
    flex: 1;
}

#sidebar {
    width: 200px;
    background-color: #c743ff69;
    padding: 10px;
    height: 120vh;
}

#content {
    position: relative;
    flex: 1;
    padding: 20px;
}

.topbar-button {
    background-color: #01ff0977;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
}

gmb-map {
    height: 100%;
}

.map {
    position: absolute;
    height: calc(100% - 20px);
    width: calc(50% - 10px);
    right: 10px;
    top: 10px;
}

.gig-info {
    width: 50%;
}