{% extends 'base.html' %}
{% load static %}

{% block title_block %}
GigLuvver - My Artist Account
{% endblock %}

{% block body_block %}
    {% if profile_picture %}
        <img class="img-thumbnail" src="{{ profile_picture.url }}" alt="Profile Picture" style="width: 300px; height: 300px; border-radius: 50%;"><br/>
    {% else %}
        <img class="img-thumbnail" src="{% static 'images/default_profile_picture.jpg' %}" alt="Default Profile Picture" style="width: 300px; height: 300px; border-radius: 50%;"><br/>
    {% endif %}
    <a href="{% url 'gigluvver_app:change_profile_picture' %}">Change Profile Picture</a><br/>

    <h2><p class="fs-1 fw-bold mb-0">{{ profile.StageName }}</p></h2>

    <a href="{% url 'gigluvver_app:my_gigs' %}">My Gigs</a><br />
    <a href="{% url 'gigluvver_app:my_tickets' %}">All Tickets</a><br/>
{% endblock %}