<!DOCTYPE html>
{% load static %} 

<html>
<head lang="en">
    <meta charset="UTF-8" /> 
    <title>Gig Luvver</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/GigLuvver_Logo.jpeg' %}">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    {% block head_block %}
    {% endblock %}
</head>
<body> 
    <div id="topbar" class="fixed">
        <a class="nav-link" href="{% url 'gigluvver_app:home' %}"><p class="fs-4 fw-bold mb-0"><img src="{% static 'images/GigLuvver_Logo.jpeg' %}" alt="Logo" style="width: 70px; height: 70px; border-radius: 50%;"></p></a>
        <h1><p class="fs-1 fw-bold mb-0">{% block title_block %}Gig Luvver{% endblock %}</p></h1>
            <div id="topbar-buttons">
            {% if user.is_authenticated %}
            <h2>{{ request.user.username }}</h2>
            <form action="{% url 'gigluvver_app:log_out' %}" method="get">
                <button type="submit" class="btn btn-secondary">LogOut</button>
            </form>
            {% else %}
            <div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                Login
            </button>
            <ul class="dropdown-menu">
                <a href="{% url 'gigluvver_app:log_in' %}" class="dropdown-item">Login</a>
                <a href="{% url 'gigluvver_app:artist_log_in' %}" class="dropdown-item">Artist Login</a>
            </ul>
            </div>
            {% endif %}
        
        </div>
        
    </div>
    <div id="content-container">
        <div id="sidebar">
            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'gigluvver_app:home' %}"><p class="fs-4 fw-bold mb-0">HomePage</p></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'gigluvver_app:gigs' %}"><p class="fs-4 fw-bold mb-0">Gigs</p></a>
                </li>
                {% if user.is_authenticated %}
                    {% if profile.IsPerformer %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'gigluvver_app:artist_profile' %}"><p class="fs-4 fw-bold mb-0">Artist Profile</p></a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                    <a class="nav-link" href="{% url 'gigluvver_app:user_profile' %}"><p class="fs-4 fw-bold mb-0">Profile</p></a>
                    </li>
                    {% endif %}
                {% endif %}
              </ul>
        </div>
        <div id="content">
            {% block body_block %}
            {% endblock %}
            <button type="button" class="btn btn-primary" onclick="goBack()">Go Back</button>
            <script src="{% static 'otherJS.js' %}"></script>
        </div>
    </div>
</body>
</html>