{% extends 'base.html' %}
{% load static %}

{% block title_block %}
    GigLuvver - Create Gig
{% endblock %}

{% block body_block %}
    {% if not success_photo %}
    <p>Please provide a gig picture.</p>
    {% elif not success %}
    <p>Invalid entry. Please fill out all fields.</p>
    {% endif %}
    {% if profile.IsPerformer %}
    <form method="post" action="{% url 'gigluvver_app:create_gig' %}">
        {% csrf_token %}
        {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}
            {{ field }}
        {% endfor %}

        <input type="submit" value="Create Gig">
    </form>
    {% else %}
    <p>Not logged in as an artist.</p>
    {% endif %}
{% endblock %}
