{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %}
GigLuvver - {{ gig.GigName }}
{% endblock %}

{% block body_block %}
    <h1>{{ gig.GigName }}</h1>

    <h2>Performers</h2>
    {% if performers %}
    <ul>
        {% for performer in performers %}
            <li>
                {{ performer.StageName }}</br>
                {{ performer.Genre }}
            </li>
        {% endfor %}
    </ul>
    {% else %}
        <strong>There are no performers present.</strong>
    {% endif %}

    <img src="{{ gig_picture.url }}" alt="Gig Picture" style="width: 200px; height: 300px;"/>
    
    <h2>Details</h2>
    {{ BASE_DIR }}
    <ul>
        <li>Date: {{ gig.Date }}</br></li>
        <li>Time: {{ gig.Time }}</br></li>
        <li>Venue: {{ gig.Venue }}</br></li>
    </ul>
    <!-- map api -->

    <a href="{% url 'gigluvver_app:gigs' %}">Back</a>
{% endblock %}