{% extends 'base.html' %}
{% load staticfiles %}

{% block head_block %}
<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBEkGI8QpdLPjPmEfggwsMFtYUpD7mCKLA&callback=console.debug&libraries=maps,marker&v=beta"></script>
{% endblock %}

{% block title_block %}
GigLuvver - {{ gig.GigName }}
{% endblock %}

{% block body_block %}
    <div class="gig-info">
    <h1>{{ gig.GigName }}</h1>

    {% if gig_picture %}
        <img src="{{ gig_picture.url }}" alt="Gig Picture" style="width: 300px; height: 450px;"/>
    {% endif %}
    <h2><p class="fs-3 fw-bold mb-0">Details</p></h2>
    <ul>
        <li><h2><p class="fs-5 fw-bold mb-0">Performers</p></h2></li>
        {% if performers %}
        <ul>
            {% for performer in performers %}
                <li>
                    <p class="fs-6 mb-0">{{ performer.StageName }} - {{ performer.Genre }}</p>
                </li>
            {% endfor %}
        </ul>
        <li><h2><p class="fs-5 fw-bold mb-0">Date and time</pclass></h2></li>
            <ul>
                <li>Date: {{ gig.Date }}</br></li>
                <li>Time: {{ gig.Time }}</br></li>
            </ul>
        <li><h2><p class="fs-5 fw-bold mb-0">Venue</pclass></h2></li>
            <ul>
                <li>{{ gig.Venue }}</br></li>
            </ul>
        <li><h2><p class="fs-5 fw-bold mb-0">Number of People attending</pclass></h2></li>
            <ul>
                <li><p>Number of people going: {{ num_going }}</p></li>
            </ul>
    </ul>
    
    
    {% else %}
        <strong>There are no performers present.</strong>
    {% endif %}

    {{ BASE_DIR }}
    
    
    </div>
    
    <div class="map">
    <gmp-map center="{{ gig.Venue.Position }}" zoom="17" map-id="{{ gig.Venue.VenueName}}">
        <gmp-advanced-marker position="{{ gig.Venue.Position }}" title="{{ gig.Venue.VenueName }}"></gmp-advanced-marker>
    </gmp-map>
    </div>
{% endblock %}