{% extends 'base.html' %}
{% load staticfiles %}
{% load custom_filters %}

{% block title_block %}
GigLuvver - Gigs
{% endblock %}

{% block body_block %}
<h1>Gigs</h1>

<select id="venue-select">
    <option value="">All Venues</option>
    {% for venue in venues %}
        <option value="{{ venue.id }}">{{ venue.VenueName }}</option>
    {% endfor %}
</select>

<select id="performer-select">
    <option value="">All Performers</option>
    {% for performer in performers %}
        <option value="{{ performer.StageName }}">{{ performer.StageName }}</option>
    {% endfor %}
</select>

<select id="genre-select">
    <option value="">All Genres</option>
    {% for genre in genres %}
        <option value="{{ genre }}">{{ genre }}</option>
    {% endfor %}
</select>


<ul id="gig-list">
    {% for gig in gigs %}
    <li data-venue="{{ gig.Venue.id }}" data-performers='{% with gig_id=gig.id|stringformat:"d" %}
                                                            {% with key="a"|add:gig_id|add:"" %}
                                                                {% for performer in context_performers|get_key:key %}
                                                                    {{ performer.StageName }},
                                                                {% endfor %}
                                                            {% endwith %}
                                                        {% endwith %}'
                                        data-genres='{% with gig_id=gig.id|stringformat:"d" %}
                                                        {% with key="a"|add:gig_id|add:"" %}
                                                            {% for performer in context_performers|get_key:key %}
                                                                {{ performer.Genre }},
                                                            {% endfor %}
                                                        {% endwith %}
                                                    {% endwith %}'>
        <a href="{% url 'gigluvver_app:gig' gig.GigID %}">{{ gig.GigName }}</a>
    </li>
    {% empty %}
    <strong>There are no gigs present.</strong>
    {% endfor %}
</ul>


<script>
document.addEventListener("DOMContentLoaded", function() {
    var venueSelect = document.getElementById("venue-select");
    var performerSelect = document.getElementById("performer-select");
    var genreSelect = document.getElementById("genre-select");
    var gigList = document.getElementById("gig-list");
    var gigs = gigList.getElementsByTagName("li");

    venueSelect.addEventListener("change", filterGigs);
    performerSelect.addEventListener("change", filterGigs);
    genreSelect.addEventListener("change", filterGigs);
    
    function filterGigs() {
        var selectedVenueId = venueSelect.value;
        var selectedPerformerId = performerSelect.value;
        var selectedGenre = genreSelect.value;
        
        for (var i = 0; i < gigs.length; i++) {
            var gigVenueId = gigs[i].getAttribute("data-venue");
            var gigPerformersIds = gigs[i].getAttribute("data-performers");
            var gigGenres = gigs[i].getAttribute("data-genres");

            var venueMatch = selectedVenueId === "" || gigVenueId === selectedVenueId;
            var performerMatch = selectedPerformerId === "" || gigPerformersIds.includes(selectedPerformerId);
            var genreMatch = selectedGenre === "" || gigGenres.includes(selectedGenre);
            
            if (venueMatch && performerMatch && genreMatch) {
                gigs[i].style.display = "block";
            } else {
                gigs[i].style.display = "none";
            }
        }
    };
});
</script>
{% endblock %}
