{% extends 'base.html' %}
{% load static %}

{% block title_block %}
    GigLuvver - Homepage
{% endblock %}

{% block body_block %}
    <div>
        <h1>Upcoming Gigs</h1>
        {% if upcoming_gigs %}
            <ul class = "nav">
                {% for gig in upcoming_gigs %}
                    <li class = "nav-item" style="width: 150px; margin: 10px;">
                    <a href="{% url 'gigluvver_app:gig' gig.id %}" class="d-block text-center fw-bold mb-0 fs-5 text-decoration-none"><img src="{{ gig.GigPicture.url }}" alt="Gig Picture" style="width: 150px; height: 225px;"/><br/>{{ gig.GigName }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no upcoming gigs.</strong>
        {% endif %}
    </div>
    <div>
        <h1>Popular Gigs</h1>
        {% if upcoming_gigs %}
            <ul class = "nav">
                {% for gig in popular_gigs %}
                    <li class = "nav-item" style="width: 150px; margin: 10px;"> 
                    <a href="{% url 'gigluvver_app:gig' gig.id %}" class="d-block text-center fw-bold mb-0 fs-5 text-decoration-none"><img src="{{ gig.GigPicture.url }}" alt="Gig Picture" style="width: 150px; height: 225px;"/><br/>{{ gig.GigName }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no popular gigs.</strong>
        {% endif %}
    </div>
{% endblock %}