{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %}
GigLuvver - My Gigs
{% endblock %}

{% block body_block %}
{% if profile.IsPerformer %}
<a href="{% url 'gigluvver_app:create_gig' %}">Create new gig</a><br />
    {% for gig in gigs %}
    <li data-venue="{{ gig.Venue.id }}">
        <a href="{% url 'gigluvver_app:gig' gig.GigID %}">{{ gig.GigName }}</a>
    </li>
    {% empty %}
    <strong>There are no gigs present.</strong>
    {% endfor %}
    <!-- List of my gigs for artist
    ability to create new gig -->
    {% else %}
    <p>Not logged in as an artist.</p>
    {% endif %}
{% endblock %}