{% extends 'base.html' %}
{% load static %}

{% block title_block %}
GigLuvver - My Gigs
{% endblock %}

{% block body_block %}
{% if profile.IsPerformer %}
<form action="{% url 'gigluvver_app:create_gig' %}" method="get">
    <button type="submit" class="btn btn-primary">Create Gig</button>
</form>
<form action="{% url 'gigluvver_app:delete_gig' %}" method="get">
    <button type="submit" class="btn btn-primary">Delete Gig</button>
    <ul class = "nav">
        {% for gig in gigs %}
        <li data-venue="{{ gig.Venue.id }}" class = "nav-item" style="width: 150px; margin: 10px;">
            <a href="{% url 'gigluvver_app:gig' gig.id %}" class="d-block text-center fw-bold mb-0 fs-5 text-decoration-none">
                {% if gig.GigPicture %}
                <img src="{{ gig.GigPicture.url }}" alt="Gig Picture" style="width: 150px; height: 225px;"/><br/>
                {% else %}
                <img src="{% static 'images/default_poster.jpg' %}" alt="Gig Picture" style="width: 150px; height: 225px;"/><br/>
                {% endif %}
                {{ gig.GigName }}</a>
        </li>
        {% empty %}
        <strong>There are no gigs present.</strong>
        {% endfor %}
    </ul>
    {% else %}
    <p>Not logged in as an artist.</p>
    {% endif %}
{% endblock %}