{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %}
GigLuvver - Tickets
{% endblock %}

{% block body_block %}
    {% if gigs %}
    <ul class = "nav">
        {% for gig in gigs %}
            <li data-venue="{{ gig.Venue.id }}" class = "nav-item" style="width: 150px; margin: 10px;">
                <a href="{% url 'gigluvver_app:gig' gig.id %}" class="d-block text-center fw-bold mb-0 fs-5 text-decoration-none"><img src="{{ gig.GigPicture.url }}" alt="Gig Picture" style="width: 150px; height: 225px;"/>{{ gig.GigName }}</br>{{ gig.Date }}</a>
            </li>
        {% endfor %}
    </ul>
    {% else %}
    <strong>There are no gigs present.</strong>
    {% endif %}
{% endblock %}