{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %}
    Login or Create Account.
{% endblock %}

{% block body_block %}
<form id="login_form" method="post" action="{% url 'gigluvver_app:log_in' %}">
    {% csrf_token %}
    Username: <input type="text" name="username" value="" size="50" />
    <br />
    Password: <input type="password" name="password" value="" size="50" />
    <br />
    <input type="submit" value="submit" />
</form>
    <a href="{% url 'gigluvver_app:create_user_account' %}">Creat new Account</a><br />
{% endblock %}